[submodule "files/.vim/bundle/vim-pathogen"]
	path = files/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "files/.vim/bundle/vim-ref"]
	path = files/.vim/bundle/vim-ref
	url = https://github.com/Shougo/unite.vim.git
[submodule "files/.vim/bundle/unite-vim"]
	path = files/.vim/bundle/unite-vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "files/.vim/bundle/syntastic"]
	path = files/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "files/.vim/bundle/nerdtree"]
	path = files/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "files/.vim/bundle/winresizer"]
	path = files/.vim/bundle/winresizer
	url = https://github.com/jimsei/winresizer.git
[submodule "files/.vim/bundle/unite_outline"]
	path = files/.vim/bundle/unite_outline
	url = https://github.com/h1mesuke/unite-outline.git
[submodule "files/.oh-my-zsh"]
	path = files/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "lib/z"]
	path = lib/z
	url = https://github.com/rupa/z.git
[submodule "files/.vim/bundle/emmet-vim"]
	path = files/.vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "files/.vim/nerdtree_plugin"]
	path = files/.vim/nerdtree_plugin
	url = https://gist.github.com/414375.git
[submodule "files/.vim/bundle/vim-indent-guides"]
	path = files/.vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "files/.vim/bundle/neosnippet"]
	path = files/.vim/bundle/neosnippet
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "files/.vim/bundle/neosnippet-snippets"]
	path = files/.vim/bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets.git
[submodule "files/.vim/bundle/vim-fugitive"]
	path = files/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "files/.vim/bundle/vim-less"]
	path = files/.vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "files/.vim/bundle/vim-coffee-script"]
	path = files/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "files/.vim/bundle/vim-go"]
	path = files/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "files/.vim/bundle/plantuml-syntax"]
	path = files/.vim/bundle/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax.git
[submodule "files/.vim/bundle/vim-pug"]
	path = files/.vim/bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule "files/.vim/bundle/gtm-vim-plugin"]
	path = files/.vim/bundle/gtm-vim-plugin
	url = https://github.com/git-time-metric/gtm-vim-plugin.git
[submodule "files/.vim/bundle/vim-json"]
	path = files/.vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "files/.vim/bundle/auto-ctags"]
	path = files/.vim/bundle/auto-ctags
	url = https://github.com/soramugi/auto-ctags.vim.git
[submodule "files/.vim/bundle/vim-php-html-indent"]
	path = files/.vim/bundle/vim-php-html-indent
	url = https://github.com/berrygoudswaard/vim-php-html-indent.git
[submodule "files/.vim/bundle/vim-gitgutter"]
	path = files/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "files/.vim/bundle/yankround"]
	path = files/.vim/bundle/yankround
	url = https://github.com/LeafCage/yankround.vim.git
[submodule "files/.vim/bundle/ctrlp"]
	path = files/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "files/.vim/bundle/neocomplete"]
	path = files/.vim/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "files/.vim/bundle/splitjoin"]
	path = files/.vim/bundle/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "files/.vim/bundle/tcomment"]
	path = files/.vim/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "files/.vim/bundle/tagbar-phpctags"]
	path = files/.vim/bundle/tagbar-phpctags
	url = https://github.com/vim-scripts/tagbar-phpctags.git
[submodule "files/.vim/bundle/tagbar"]
	path = files/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "files/.vim/bundle/vim-surround"]
	path = files/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "files/.vim/bundle/godoctor"]
	path = files/.vim/bundle/godoctor
	url = https://github.com/godoctor/godoctor.vim.git
[submodule "files/.vim/bundle/neco-ghc"]
	path = files/.vim/bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule "files/.vim/bundle/haskell-vim"]
	path = files/.vim/bundle/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "files/.vim/bundle/vimproc"]
	path = files/.vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "files/.vim/bundle/ghcmod-vim"]
	path = files/.vim/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "files/.vim/bundle/vim-hoogle"]
	path = files/.vim/bundle/vim-hoogle
	url = https://github.com/Twinside/vim-hoogle.git
[submodule "files/.vim/bundle/vim-stylish-haskell"]
	path = files/.vim/bundle/vim-stylish-haskell
	url = https://github.com/nbouscal/vim-stylish-haskell.git
[submodule "files/.vim/vim-airline-themes"]
	path = files/.vim/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "files/.vim/bundle/vim-clojure-static"]
	path = files/.vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "files/.vim/bundle/vim-fireplace"]
	path = files/.vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "files/.vim/bundle/slimv"]
	path = files/.vim/bundle/slimv
	url = https://github.com/kovisoft/slimv.git
